/* font (Noto Sans KR) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');



/* COMMON */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%); */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}


.mobile-container {
  position: relative;
  background-color: rgb(183, 129, 14);
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 65px;
  width: 700px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}
header button {
  background-color: transparent;
  border: none;
  color: #7ee8fa;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}


.next {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next .nextBtn {
  width: 130px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #80ff72;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  overflow: auto;
  margin-bottom: 1rem;
}


.fav-container {
  background-color:lightyellow;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
  cursor: pointer;
}

.fav-meals li img {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-button {
  border: none;
  background-color: transparent;
  color: rgb(173, 170, 170);
  cursor: pointer;
  font-size: 1.2rem;
}

.meal-body .fav-button.active {
  color: #7ee8fa;
}


.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 80vh;
  max-width: 500px;
}


.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal-info h1 {
  text-align: center;
}
